{% load staticfiles %}
<html>
  <head>
    <title>AIKO</title>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'BIO')">ABOUT ME</button>
    <button class="tablinks" onclick="openCity(event, 'FAVORITE FOODS')">FAVORITE FOODS</button>
    <button class="tablinks" onclick="openCity(event, 'POPULAR PLACES TO FIND ME')">POPULAR PLACES TO FIND ME</button>
  </div>

  <div id="ABOUT ME" class="tabcontent">
    <h3>ABOUT ME</h3>
    <p>I am a shorkie, originally from New Jersey.</p>
    <p>I came to live with my family six years ago</p>
    <p>I am currently 10 years old.</p>
  </div>

  <div id="FAVORITE FOODS" class="tabcontent">
    <h3>FAVORITE FOODS</h3>
    <p>#1) Sweet Potatoes</p>
    <p>#2) Anchovies</p>
    <p>#3) Oranges</p>

  </div>

  <div id="POPULAR PLACES TO FIND ME" class="tabcontent">
    <h3>POPULAR PLACES TO FIND ME</h3>
    <p>Underneath the bed</p>
    <p>Alley Pond Park</p>
    <p>In the kitchen</p>
  </div>



{% for post in posts %}
        <div class="post">
            <h5>published: {{ post.published_date }}</h5>
            <h3><a href="">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

